<div id='rank-dimensions' class='do-ranking'>
  Your decision: <span class='your-decision'><%= @decision_problem.description %></span>
  <h2>Step 6: Rank the dimensions</h2>
  <div class='instructions narrow panel panel-default'>
    <div class='panel-body'>
      <p>
        Now it's time to rank the dimensions in terms of how important they are
        to you. Drag and drop each dimension to reflect its importance. The
        dimension that is most important to you should be on the top, and the
        dimension that is least important to you should be on the bottom.
      </p>
    </div>
  </div>
  <%= form_tag save_ranks_decision_problem_dimensions_path(@decision_problem), method: :put, class: 'narrow' do %>
    <div class='sortable'>
      <% @decision_problem.sorted_dimensions.each_with_index do |dimension, idx| %>
        <div class='ranker' data-key='<%= dimension.id %>'><%= dimension.description %></div>
        <input type='hidden' class='dimension-rank' data-key='<%= dimension.id %>' name='dimensions[<%= dimension.id %>][rank]' value='<%= dimension.rank || (idx + 1) %>'/>
      <% end %>
    </div>
    <div class='clearfix'></div>
    <%= link_to fa('arrow-left', 'fa-left') + " Step 5: Rate your options",
      rate_decision_problem_options_path(@decision_problem), class: 'btn btn-info pull-left' %>
    <%= button_tag type: 'submit', class: 'btn btn-info pull-right' do %>
      Step 7: Weight the dimensions <%= fa('arrow-right', 'fa-right') %>
    <% end %>
  <% end %>
</div>
