<div id='rank-options' class='do-ranking'>
  Your decision: <span class='your-decision'><%= @decision_problem.description %></span>
  <h2>Step 4: Rank your options</h2>
  <div class='instructions narrow panel panel-default'>
    <div class='panel-body'>
      <p>
        Now it's time to rank your options on each of the dimensions
        that matter to you. For each dimension, drag and drop each option to
        to reflect their ranking on that dimension.  The option that is
        best on that dimension should be on top, and the option that is worst
        should be on the bottom.
      </p>
    </div>
  </div>
  <%= form_tag save_option_ranks_decision_problem_path, method: :put, class: 'narrow' do %>
    <% @decision_problem.dimensions.each do |dimension| %>
      <h3><%= dimension.description %></h3>
      <% ratings = dimension.sorted_ratings %>
      <div class='sortable'>
        <% ratings.each_with_index do |rating, idx| %>
          <div class='ranker' data-key='<%= rating.id %>'><%= rating.option.description %></div>
          <input type='hidden' class='option-rank' data-key='<%= rating.id %>' name='ratings[<%= rating.id %>][rank]' value='<%= rating.rank || (idx + 1) %>'/>
        <% end %>
      </div>
    <% end %>
    <div class='clearfix'></div>
    <%= link_to fa('arrow-left', 'fa-left') + " Step 3: What are your options?",
      specify_options_decision_problem_path(@decision_problem), class: 'btn btn-info pull-left' %>
    <%= button_tag type: 'submit', class: 'btn btn-info pull-right' do %>
      Step 5: Rate your options <%= fa('arrow-right', 'fa-right') %>
    <% end %>
  <% end %>
</div>
