Your decision: <span class='your-decision'><%= @decision_problem.description %></span>
<h2>Step 2: What matters to you?</h2>
<div class='instructions narrow panel panel-default'>
  <div class='panel-body'>
    <p>
      What sorts of things matter to you in this decision? We'll call these
      "dimensions".
    </p>
   <p>
      For example, if you are trying to choose among colleges,
      some dimensions that matter to you might include <span class='example'>Tuition
      </span>, <span class='example'>Distance from home</span>, and
      <span class='example'>Average class size</span>. If your decision was to
      choose among cars, some dimensions you care about might include
      <span class='example'>Gas mileage</span>, <span class='example'>Price</span>,
      and <span class='example'>Stereo quality</span>.
    </p>
    <p>
      You should list at least one dimension that matters to you in this
      decision. A good number to aim for would be 3-5.
    </p>
  </div>
</div>
<%= nested_form_for @decision_problem, url: save_dimensions_decision_problem_path, html: { class: 'narrow' } do |f| %>
  <%= f.fields_for :dimensions do |dimension_form| %>
    <div class='row'>
      <div class='col-md-9'>
        <%= dimension_form.text_field :description,
          class: 'form-control nested-field',
          placeholder: 'List a dimension that matters to you',
          maxlength: '40' %>
      </div>
      <div class='col-md-3'>
        <%= dimension_form.link_to_remove 'Delete', class: 'btn btn-danger delete' %>
      </div>
    </div>
  <% end %>
  <%= f.link_to_add "Add another dimension", :dimensions, class: 'btn btn-success add', data: { 'max-fields' => 10 } %>
  <div class='clearfix'></div>
  <%= link_to fa('arrow-left', 'fa-left') + " Step 1: Describe your decision",
    edit_decision_problem_path(@decision_problem), class: 'btn btn-info pull-left' %>
  <%= button_tag type: 'submit', class: 'btn btn-info pull-right' do %>
    Step 3: What are your options? <%= fa('arrow-right', 'fa-right') %>
  <% end %>
<% end %>
