<div id='specify-ratings' class='do-rating'>
  Your decision: <span class='your-decision'><%= @decision_problem.description %></span>
  <h2>Step 5: Rate your options</h2>
  <div class='instructions narrow panel panel-default'>
    <div class='panel-body'>
      <p>
        Now it's time to rate each of your options on each of the dimensions
        that matter to you. We'll use a rating scale of 0-100, where 0 is defined
        as the rating of the option that's worst on the dimension, and 100 is the
        rating of the option that's best on the dimension.
      </p>
      <p>
        For each dimension, your options are listed in the rank order you
        specified on the last step. Your lowest-ranked option has been locked to
        a length of 0, and your highest-ranked option has been locked to a
        length of 100.
      </p>
      <p>
        For the rest of your options, drag the blue square to
        increase or decrease the length of the bar to reflect your rating of
        that option on that dimension.
      </p>
      <p>
       For example, for an option that's 60% as good as the best option on a given dimension,
       drag its bar to be 60% of the length of the best option's bar.
      </p>
    </div>
  </div>
  <%= form_tag save_ratings_decision_problem_options_path(@decision_problem), method: :put do %>
    <% @decision_problem.dimensions.each do |dimension| %>
      <h3><%= dimension.description %></h3>
      <div class='rating-container' data-dimension='<%= dimension.id %>'>
      </div>
      <% dimension.ratings.each do |rating| %>
        <input type='hidden' data-rating='<%= rating.id %>' name='ratings[<%= rating.id %>][value]' value='<%= rating.value || 50 %>'/>
      <% end %>
    <% end %>
    <%= link_to fa('arrow-left', 'fa-left') + " Step 4: Rank your options",
      rank_decision_problem_options_path(@decision_problem), class: 'btn btn-info pull-left' %>
    <%= button_tag type: 'submit', class: 'btn btn-info pull-right' do %>
      Step 6: Rank the dimensions <%= fa('arrow-right', 'fa-right') %>
    <% end %>
  <% end %>
  <script>
    Maut.ratingsByDimension = <%= @decision_problem.dimensions_json.html_safe %>;
  </script>
</div>
